<div fxLayout="row wrap" fxLayoutAlign="space-between">
    <button
        [fxFlex]="threeRows"
        fxFlex.lt-md="50"
        fxFlex.lt-sm="100"
        mat-button
        (click)="onClick(country)"
        *ngFor="let country of countries"
    >
        <img [src]="country.flag" />
        {{ country.name }}
    </button>
</div>
