<h2 mat-dialog-title>Hi there!</h2>
<mat-dialog-content class="mat-typography">
    <h3>Welcome to <span>country.nfo</span>!</h3>
    <h4>I'm Przemek: a self-taught developer :)</h4>
    <h4>I'm working mainly in Angular 2+ but I'm not limiting myself to it!</h4>
    <h4>
        This app sole purpose is to give you
        <span>short and quick informations</span> about all the
        <span>countries around the globe!</span>
    </h4>
    <h3>Have fun!</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">Ok!</button>
</mat-dialog-actions>
