<app-navbar></app-navbar>
<div>
    <div class="container">
        <mat-card fxFlex.lt-xl="75" fxFlex.gt-lg="50">
            <mat-stepper linear #stepper>
                <mat-step [stepControl]="regionFormGroup">
                    <form [formGroup]="regionFormGroup"></form>
                    <ng-template matStepLabel>Regions</ng-template>
                    <app-regions
                        (clickEventEmmiter)="onRegionClick($event, stepper)"
                    >
                    </app-regions>
                </mat-step>
                <mat-step [stepControl]="countryFormGroup">
                    <form [formGroup]="countryFormGroup"></form>
                    <ng-template matStepLabel>Countries</ng-template>
                    <app-countries
                        [regionCode]="regionAbstractControl?.value"
                        (clickEventEmmiter)="onCountryClick($event, stepper)"
                    ></app-countries>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Details</ng-template>
                    <app-details
                        [country]="countryAbstractControl?.value"
                    ></app-details>
                </mat-step>
            </mat-stepper>
        </mat-card>
    </div>
</div>
