<mat-toolbar>
    <div fxFlex fxLayout="row">
        <div
            fxFlex="90"
            fxLayout="row"
            fxFlexOffset="10"
            fxFlexOffset.lt-md="15"
            fxLayoutAlign="center center"
            class="logo"
        >
            <a id="logo">country <span>nfo</span></a>
        </div>
        <div fxFlex="10" fxFlex.lt-md="15" fxLayoutAlign="center center" f>
            <ul class="navigation-items">
                <li>
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="openAboutMeDialog()"
                    >
                        About me
                    </button>
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>
