.navigation-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-caption {
    display: inline-block;
    padding: 6px;
}

a {
    font-size: 250%;

    font-weight: 500;
    color: #673ab7;
    cursor: default;
}

.mat-button {
    font-size: 1rem;
}

button:hover,
button:active {
    color: #673ab7;
}

.logo a {
    color: #673ab7;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 150%;
    line-height: 1.3;
}
.logo a span {
    background: #673ab7;
    color: #fff;
    display: inline-block;
    line-height: 1.8;
    padding: 0 16px;
}
