<div fxflex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex="50"><img [src]="country?.flag" /></div>
    <div>
        <h1>{{ country?.name }}</h1>
        <h3>
            Native name: <span class="bold">{{ country?.nativeName }}</span>
        </h3>
        <h3>
            Capital: <span class="bold">{{ country?.capital }}</span>
        </h3>
        <h3>
            Region: <span class="bold">{{ country?.region }}</span>
        </h3>
        <h3>
            Subregion: <span class="bold">{{ country?.subregion }}</span>
        </h3>
        <h3>
            Population:
            <span class="bold">{{ country?.population | number }}</span>
        </h3>
        <mat-list>
            <h3 id="currency">Currencies:</h3>
            <mat-list-item *ngFor="let currency of country?.currencies">
                <span class="bold">{{ currency.name }}</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
