/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    height: 100%;
}

body {
    background: url('./assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
